.col {
   padding-bottom: 1.4rem;
}

.footer {
    background-image: linear-gradient(rgb(115 68 68 / 85%), rgb(115 68 68 / 85%)),
        url('../../../assets/images/brgfooter.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    color: white;
    width: 100%;
    border-top: 10px solid red;
    position: relative;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.logo {
    width: 120px;
    margin-left: 2.5rem;
}

.brandName {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
}

.address {
    padding: 1rem 0;
    margin: 0;
}

.addressItem {
    display: flex;
    align-items: start;
    font-size: 0.9rem;

    svg {
        transform: translateY(2px);
    }

    p {
        margin-left: 1rem;
    }
}

.registerHeading {
    font-size: 1.2rem;
    text-transform: uppercase;
}

.registerNofi {
    display: block;
    font-size: 0.9rem;
    margin: 1rem 0;
}

.sendMail {
    display: flex;
    align-items: center;

    &Input {
        flex: 1;
        padding: 8px 10px;
        border: none;
        outline: none;
    }

    &Button {
        width: 42px;
        height: 42px;
        margin-left: 2px;
        border: 2px solid black;
        background-color: red;
        color: white;
    }
}

.socialIcons {
    margin-top: 1rem;
    img {
        margin-right: 1rem;
    }
}

.divider {
   height: 1px;
   width: 100%;
   background-color: #ffffff9a;
}

.copyright {
   text-align: center;
   margin-top: 1.5rem;
   font-size: 0.9rem;
}
